@charset UTF-8;

body {
background:#423B33 url(../images/site_bkg.gif) repeat-y;
font-family:Arial,Helvetica,sans-serif;
color:#EEE;
margin:0;
padding:0
}

img {
border:0
}

a {
text-decoration:none
}

hr {
border-top:1px solid #534D46;
border-bottom:1px solid #3C372F;
border-left:0;
border-right:0;
margin:0;
padding:0
}

h1 {
font-size:16px;
font-weight:400;
color:#E2D8C6;
line-height:1.8em;
margin:0;
padding:0 0 14px
}

h1 a {
color:#E2D8C6
}

h2,h3,h4,h5 {
font-family:Arial,Helvetica,sans-serif;
font-size:20px;
font-weight:400;
color:#FFFD6E;
border-bottom:1px solid #534D46;
margin:0 0 10px;
padding:3px 0 5px
}

h3 {
color:#B8FD4C
}

p {
font-size:15px;
color:#E2D8C6
}

.default {
line-height:1.8em
}

ul {
margin:0 0 20px;
padding:0 30px
}

li {
list-style:square;
font-size:13px;
margin:3px 0;
padding:3px 0
}

.clear {
clear:both
}

#columnleft {
float:left;
padding-top:96px;
width:230px;
text-align:right
}

#columnleft img {
padding:0 6px 0 0
}

#columnright {
padding-top:54px;
width:710px;
margin:0 0 0 260px
}

#navwrap {
padding:49px 0 0
}

.navparent {
margin:0;
padding:0 1px 0 0
}

.navparent li {
list-style:none;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:700;
color:#1A1A1A;
vertical-align:middle;
margin:1px 0;
padding:6px 16px 6px 0
}

.navparent .blue {
border-right:4px solid #B3D5EB
}

.navparent .blue_active {
border-right:8px solid #B3D5EB;
padding:6px 12px 6px 0
}

.navparent .green {
border-right:4px solid #C6E686
}

.navparent .green_active {
border-right:8px solid #C6E686;
padding:6px 12px 6px 0
}

.navparent .orange {
border-right:4px solid #F5C591
}

.navparent .orange_active {
border-right:8px solid #F5C591;
padding:6px 12px 6px 0
}

.navparent li a {
color:#1A1A1A;
padding:1px
}

.navparent li a:hover {
color:#666
}

.navlocal {
margin:0;
padding:0 1px 29px 0
}

.navlocal li {
list-style:none;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:11px;
color:#666;
border-right:4px solid #CECABC;
vertical-align:middle;
margin:1px 0;
padding:6px 16px 6px 0
}

.navlocal span {
font-weight:700;
color:#76BA2F
}

.navlocal .active {
border-right:8px solid #A19E93;
padding:6px 12px 6px 0
}

.navlocal .active a {
font-weight:700;
color:#3F3F3F
}

.navlocal .active a:hover {
color:#3F3F3F
}

.navlocal li a {
color:#3F3F3F;
padding:3px 1px
}

.navlocal li a:hover {
color:#8B8B8B
}

.navchild {
margin:0;
padding:29px 1px 0 0
}

.navchild li {
list-style:none;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:700;
color:#848484;
border-right:4px solid #DADADA;
vertical-align:middle;
margin:1px 0;
padding:6px 16px 6px 0
}

.navchild .active {
border-right:8px solid #B5B5B5;
padding:6px 12px 6px 0
}

.navchild li a {
color:#848484;
padding:3px 1px
}

.navchild li a:hover {
color:#AFAFAF
}

.header {
padding-left:8px
}

#content {
width:650px;
margin:18px 20px 20px 10px;
padding:0 20px 0 0
}

#content_home {
width:650px;
margin:30px 20px 20px 34px;
padding:0 20px 0 0
}

#content_about {
width:650px;
margin:50px 20px 20px 10px;
padding:0 20px 0 0
}

.hello {
font-family:Arial,Helvetica,sans-serif;
font-size:1.5em;
color:#D2C6B0;
line-height:1.6em;
margin:0;
padding:32px 0 22px
}

.thousands {
font-family:Arial,Helvetica,sans-serif;
font-size:1.25em;
color:#AAA;
line-height:1.7em;
margin:0;
padding:18px 0 16px
}

.thousands a {
background:#332F2A;
color:#FFFD6E;
margin:0 2px;
padding:2px 7px
}

.thousands a:hover {
background:#262320;
color:#FFF
}

#spotlight {
background:#23201B url(../images/images/home_trellis_bkg.jpg) no-repeat right;
font-family:Arial,Helvetica,sans-serif;
font-size:.9em;
line-height:2em;
border-top:4px solid #4C433B;
border-bottom:4px solid #4C433B;
margin:22px 0 10px -20px;
padding:38px 28px
}

.spotlink {
font-family:Arial,Helvetica,sans-serif;
font-size:24px;
font-weight:400;
margin:0;
padding:2px 0 6px
}

.spotbyline {
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:700;
color:#7D7974;
text-transform:uppercase;
margin:0;
padding:0 0 2px
}

#understudyleft {
float:left;
width:268px;
background:#1A1814 url(../images/images/home_blog_bkg.jpg) no-repeat top right;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:14px;
line-height:1.9em;
border-top:4px solid #4C433B;
border-bottom:4px solid #4C433B;
margin:11px 22px 10px -20px;
padding:14px 28px 10px
}

#understudyright {
float:left;
width:268px;
background:#1A1814 url(../images/images/home_twitter_bkg.jpg) no-repeat top right;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:14px;
line-height:1.9em;
border-top:4px solid #4C433B;
border-bottom:4px solid #4C433B;
margin:11px 0 10px;
padding:14px 28px 10px
}

.underlinkorange,.underlinkyellow {
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:17px;
font-weight:700;
margin:0;
padding:0 0 8px
}

.underlinkyellow a {
color:#FFFD6E
}

.screenshot {
margin:20px 0 0 4px
}

.screenshotp {
margin-top:-70px
}

.badge {
position:relative;
float:right
}

.productdesc {
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
color:#D2C6B0;
line-height:1.9em;
margin:0;
padding:0 0 8px
}

.productdesc strong {
font-size:19px
}

.productsub {
font-family:Arial,Helvetica,sans-serif;
font-size:15px;
color:#A4A4A4;
line-height:2em;
border-top:1px solid #534D46;
margin:10px 0 0;
padding:14px 0
}

.blockleft {
float:left;
width:300px;
margin:0 24px 0 10px;
padding:1px 0 0
}

.blockright {
float:left;
width:300px;
margin:0;
padding:1px 0 0
}

.feature {
font-family:Arial,Helvetica,sans-serif;
font-size:13px;
color:#BAB4AA;
line-height:1.7em;
margin:0;
padding:5px 6px 15px
}

.feature strong {
font-size:15px;
color:#FFF;
line-height:1.8em
}

.feature span {
font-weight:700
}

form {
margin-bottom:5px
}

.featurelink {
color:#ADA89F;
border-bottom:1px dotted #645D54
}

.featurenote {
font-size:11px;
line-height:1.9em;
color:#7D7A73;
margin:0;
padding:4px 6px 10px
}

.profile_photo {
float:left;
background:url(../images/images/staff_bumper.gif) right no-repeat;
width:120px;
text-align:left;
margin:6px 0;
padding:0
}

.profile_card {
float:left;
background:#2F2C26 url(../images/images/staff_card_fade.png) right repeat-y;
width:530px;
text-align:left;
margin:6px 0;
padding:0 0 26px
}

.avatar {
border:5px solid #FFF
}

.card_name {
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:17px;
font-weight:700;
color:#FFF;
text-shadow:#23211D 1px 1px 1px;
margin:0;
padding:22px 24px 4px 22px
}

.card_subtitle {
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:14px;
color:#ADA89F;
text-shadow:#23211D 1px 1px 1px;
margin:0;
padding:3px 24px 0 22px
}

.card_expand {
float:right;
background:transparent url(../images/images/about_expand.gif) right no-repeat;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:700;
color:#FFFD6E;
text-shadow:#1D1B18 1px 1px 0;
text-transform:uppercase;
margin:36px 36px 0 0;
padding:3px 20px 2px 0
}

.card_expand a {
color:#FFFD6E;
padding:2px
}

.bio {
width:auto;
font-size:13px;
line-height:1.8em;
margin:8px 40px 0 22px;
padding:8px 0 4px
}

.personal {
border:1px solid #FFF;
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
background:#E9E5D5;
width:460px;
height:210px;
padding-top:3px;
margin:18px 0 0
}

.personal a {
display:block;
color:#2A2A2A
}

.personal dt {
float:left;
width:190px;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
font-weight:700;
text-align:right;
border-top:1px solid #F2EDE6;
border-bottom:1px solid #D8D3C2;
height:40px;
line-height:40px;
color:#77716B;
text-shadow:#FFF 0 1px 0;
margin:0;
padding:0
}

.personal dt.start,.personal dd.start {
border-top:0
}

.personal dt.wrap,.personal dd.wrap {
border-bottom:0
}

.personal dd {
float:left;
width:250px;
padding-left:20px;
border-top:1px solid #F2EDE6;
border-bottom:1px solid #D8D3C2;
font-family:Lucida Grande,Arial,Helvetica,sans-serif;
font-size:13px;
line-height:39px;
height:40px;
color:#2A2A2A;
text-shadow:#FFF 0 1px 0;
margin:0
}

.linkblue {
background:#332F2A;
color:#84FFFF;
font-weight:700;
margin:0 1px;
padding:2px 4px
}

.linkgreen {
background:#332F2A;
color:#B8FD4C;
font-weight:700;
margin:0 1px;
padding:2px 4px
}

.linkyellow {
background:#332F2A;
color:#FFFD6E;
font-weight:700;
margin:0 1px;
padding:2px 4px
}

.linkorange {
background:#332F2A;
color:#FFAB30;
font-weight:700;
margin:0 1px;
padding:2px 4px
}

#copyright {
width:660px;
font-family:Arial,Helvetica,sans-serif;
font-size:11px;
color:#7B7267;
text-align:right;
margin:30px 20px 30px 10px;
padding:0 20px 0 0
}

h1 span,.default span,.hello span,.spotlink a:hover,.underlinkorange a:hover,.underlinkyellow a:hover,.productdesc span,.card_name a {
color:#FFF
}

h4,.spotlink a {
color:#84FFFF
}

h5,.underlinkorange a {
color:#FFAB30
}

#columnright_home,#columnright_about {
padding-top:96px;
margin:0 0 0 260px
}

.navchild .active a,.navchild .active a:hover {
color:#3A3A3A
}

.linkblue:hover,.linkgreen:hover,.linkyellow:hover,.linkorange:hover {
background:#262320;
color:#EEE
}